@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-color: #303030;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}
h1{
    color: #E9FFF9;

}
a{
    color: #E9FFF9;
    font-size: 20px;
}
main{
    background-color: #4a5861;
    width: 800px;
    border-radius: 20px;
    padding: 50px;
    margin: auto;
}